<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{company}}</title>
</head>
<body>
  <table border="0" cellpadding="0" cellspacing="0" style="font-size:14px;font-family:Microsoft Yahei,Arial,Helvetica,sans-serif;padding:0;margin:0;color:#333;background-color:#f7f7f7;" width="100%">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>
              <tr>
                <td align="center" style="padding:33px 0" valign="middle">
                  <a href="https://www.agrocanturk.com/" target="_blank">
                    
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="padding:0 30px;background:#fff">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td style="border-bottom:1px solid #e6e6e6;font-size:18px;padding:20px 0" colspan="3">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td>İletişim Formu</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="font-size:14px;line-height:30px;padding:0px 0 0 0;color:#666">
                            Ad Soyad
                          </td>
                          <td>:</td>
                          <td>{{adsoyad}}</td>
                        </tr>
                        <tr>
                          <td style="font-size:14px;line-height:30px;padding:0px 0 0 0;color:#666">
                            Eposta
                          </td>
                          <td>:</td>
                          <td>{{eposta}}</td>
                        </tr>
                        <tr>
                          <td style="font-size:14px;line-height:30px;padding:0px 0 0 0;color:#666">
                            Telefon
                          </td>
                          <td>:</td>
                          <td>{{telefon}}</td>
                        </tr>
                        <tr>
                          <td style="font-size:14px;line-height:30px;padding:0px 0 0 0;color:#666" width="200">
                            Konu
                          </td>
                          <td>:</td>
                          <td>{{konu}}</td>
                        </tr>
                        <tr>
                          <td style="font-size:14px;line-height:30px;padding:0px 0 0 0;color:#666">
                            Mesajınız
                          </td>
                          <td>:</td>
                          <td>{{mesajiniz}}</td>
                        </tr>
                        <tr>
                          <td style="padding:30px 0 15px 0;font-size:12px;color:#999;line-height:20px" colspan="3">
                            {{company_description}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center" style="font-size:12px;color:#999;padding:20px 0">
                  © {{time}} - {{company}}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>